[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = https://github.com/Seldaek/monolog.git
